<mat-table #table [dataSource]="data" class="mat-elevation-z4">
  <ng-container
    matColumnDef="{{ col.name }}"
    *ngFor="let col of selectedFields; let colIndex = index"
  >
    <mat-header-cell *matHeaderCellDef>{{ col.displayName }}</mat-header-cell>
    <mat-cell *matCellDef="let element">{{
      element | getValue: col.name
    }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="realColumns"></mat-header-row>
  <mat-row *matRowDef="let myRowData; columns: realColumns"></mat-row>
</mat-table>
